/********** HEADER *************/
.header {
	position: relative;
	z-index: 9979;
	height: 50px;
	margin-bottom: -50px;
	background-color: rgba(0,0,0,.7);
	font-size: 13px;

	.tvn-container {
		display: table;
		position: relative;
		.tvn-logo, nav {
			display: table-cell;
			vertical-align: middle;
		}

		nav {
			.nav {
				&>li{
					&.active {
						&>a {
							color: $colorWhite;
						}
					}
					&:hover {
						> a[data-toggle=dropdown] {
							&:after {
								content: '\f0d8';
								color: $colorRed;
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								position: absolute;
								bottom: -7px;
								left: 25%;
								font-size: 2rem;
							}
						}
						> .tvn-submenu {
							display: block;
						}
					}
				}
				&>li>a {
					color: $colorHeaderLink;
					transition: font-size .5s ease;
					&:focus, &:hover {
						background-color: transparent;
						color: $colorWhite;
					}
					&>i {
						margin-top: 1px;
						margin-left: 5px;
						float: right;
					}
				}
				&>li.open>a {
					background-color: transparent;
					color: $colorWhite;
				}
				&>li.open>a[data-toggle=dropdown] {
					&:after {
						content: '\f0d8';
						color: $colorRed;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-decoration: inherit;
						position: absolute;
						bottom: -7px;
						left: 25%;
						font-size: 2rem;
					}
				}
				.tvn-submenu {
					background-color: rgba(0,0,0,.8);
					border: none;
					border-radius: 0; 
					border-top: solid 1px $colorRed;
					top: 98%;
					&>li>a {
						background-color: transparent;
						color: $colorHeaderLink;
						padding: 6px 20px;
						border-bottom: solid 1px $colorSubMenuFocus;
						font-size: 13px;

						&:focus, &:hover {
							color: $colorWhite;
						}						
					}

					&>li {
						&:last-child {
							a {
								border-bottom: none;
							}
						}
					}
				}
			}
		}

		.tvn-auth {
			position: absolute;
			top: 5px;
			right: 0;
			&>li {
				display: inline-block;
				vertical-align: middle;
				&>a {
					color: $colorWhite;
					&:focus, &:hover {
						background-color: transparent;
						color: $colorWhite;
					}
				}
				.tvn-signup {
					background-color: $colorRed;
					padding: 4px 15px;
					border-radius: 0;
					&:focus, &:hover {
						opacity: .8;
						background-color: $colorRed;
						transition: opacity .5s ease-in-out;
						color: $colorWhite;
					}
				}
			}
		}

		.auth-logged {
			position: absolute;
			top: 0;
			right: 0;

			&.open>a[data-toggle=dropdown] {
				&:after {
					content: '\f0d8';
					color: $colorRed;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					position: absolute;
					bottom: -75%;
					left: 35%;
					font-size: 2rem;
				}
			}

			a {
				color: $colorHeaderLink;
				text-decoration: none;
				display: flex;
				cursor: pointer;

				&>span {
					vertical-align: middle;
					&:first-child {
						margin-top: 13px;
						width: 40px;
						height: 40px;
						line-height: 40px;
						border: solid 1px $colorHeaderLink;
						border-radius: 50%;

						text-align: center;
						i {
							margin: auto;
							font-size: 1.3rem;
						}

						&:hover {
							color: $colorWhite;
							border-color: $colorWhite;
						}
					}
				}
			}

			.tvn-submenu {
				background-color: rgba(0,0,0,.8);
				border: none;
				border-radius: 0; 
				border-top: solid 1px $colorRed;
				top: 117%;
				left: -10%;
				&>li>a {
					background-color: transparent;
					color: $colorHeaderLink;
					padding: 6px 20px;
					border-bottom: solid 1px $colorSubMenuFocus;
					font-size: 13px;

					&:focus, &:hover {
						color: $colorWhite;
					}
				}

				&>li {
					&:last-child {
						a {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
	.tvn-mobile-container {
		.tvn-mobile-search {
			display: none;
		}
	}
}

.tvn-slide {
	z-index: 5;
	position: relative;
	height: 500px;

	.tvn-cover-slide {
		display: block;
		position: relative;
		height: 100%;
		z-index: 6;
		background-color: rgba(33,33,33,.4);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
		.tvn-cover-overlay {
			position: relative;
			display: block;
			background-color: rgba(33,33,33,.3);
			height: 100%;
			z-index: 8;
		}
	}
}

/******* MOBILE MENU **********/
body.open-nav {
	.tvn-mobile-menu-nav {
		transform: transition(-100%);
		transition: transform 0.7s ease-in-out;
		-ms-transition: transform 0.7s ease-in-out;
	}

	.overlay-mobile {
		display: block;
		z-index: 9999;
	}
}
.tvn-mobile-menu-nav {
	background-color: rgba(0,0,0,.9);
	z-index: 8888;
	position: absolute;
	min-width: 220px;
	width: 40vw;
	height: 100vh;
	padding: 100px 35px;
	transform: translateX(-120%);
	transition: transform 0.3s ease-in-out;
	color: $colorImageMarker;
	.open-nav & {
		transform: translateX(0);
	}
	

	.tvn-mobile-menu {
		&>li>a {
			color: $colorLightGray;
			font-size: 1.1rem;
			background-color: transparent;
			i.fa {
				float: right;
				transition: transform 0.3s ease-in-out;
			}
			&[aria-expanded="true"]>i.fa {
				transform: rotate(90deg);
			}
		}
		&>li {
			.tvn-mobile-sub-menu {
				padding-left: 20px;
				&>li>a {
					color: $colorLightGray;
					font-size: 1.1rem;
				}
			}
		}
	}
}

.overlay-mobile {
	background-color: rgba(0,0,0,.05);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/******** MAIN SEARCH *********/
.tvn-mainsearch-block {
	position: relative;
	display: block;
	height: 100%;
	.tvn-main-search {
		margin-top: 12%;
		display: block;
		.nav-tabs {
			&>li {
				&.active {
					margin-bottom: 0;
					a {
						background-color: rgba(255,255,255,.8);
						color: $colorImageMarker;
					}
				}
				a {
					border-radius: 0;
					border: none;
					background-color: rgba(0,0,0,.6);
					font-size: 20px;
					margin-right: 0;
					color: $colorWhite;
					
				}
			}
		}
		h3 {
			color: $colorWhite;
		}
		.tvn-main-search-box {
			background-color: rgba(255,255,255,.8);
			padding: 25px;

			form {
				label {
					font-weight: 500;
				}
			}

			.input-group {
				.form-control {
					border: none;
					border-style: solid;
					border-width: 1px 0 1px 1px !important;
					border-color: #ccc;
				}
				.input-group-addon {
					background-color: $colorWhite;
					border: none;
					border-style: solid;
					border-width: 1px 1px 1px 0 !important;
					border-color: #ccc;
					border-radius: 0;
				}
				&.first-style {
					.form-control {
						border: none;
						border-style: solid;
						border-width: 1px 1px 1px 0 !important;
						border-color: #ccc;
					}
					.input-group-addon {
						background-color: $colorWhite;
						border: none;
						border-style: solid;
						border-width: 1px 0 1px 1px !important;
						border-color: #ccc;
						border-radius: 0;
					}	
				}
			}

			.tvn-search-more {
				color: $colorImageMarker;
				text-decoration: none;
				&:focus, &:hover {
					color: $colorRed;
				}
				&>i.fa {
					transition: transform 0.3s ease-in-out;
				}

				&[aria-expanded="true"]>i.fa {
					transform: rotate(-180deg);
				}
			}
		}
		.btn-tvn-search {
			display: block;
			width: 100%;
		}
	}

	.tvn-header-reg-route {
		margin-top: 50px;
		display: block;
		text-align: center;

		h3 {
			color: $colorWhite;
			letter-spacing: -1px;

			.tvn-reg-route {
				text-align: center;
				color: $colorRed;
				text-shadow: 1px 1px 0 rgba(255,255,255,.7);
			}
		}
		.btn-reg-route {
			width: 50%;
			padding: 10px;
			font-size: 1.6rem;
		}
	}
}

/******* TOP ROUTE ARTICLE ******/
.tvn-top-routes-box {
	border: solid 1px $colorGray;
	padding: 15px;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(221,221,221,1);
	-moz-box-shadow: 2px 2px 1px 0px rgba(221,221,221,1);
	box-shadow: 2px 2px 1px 0px rgba(221,221,221,1);

	h3 {
		margin: 0;
	}

	.heading-route {
		margin-left: -15px;
		margin-right: -15px;
		margin-top: -15px;
		background-color: $colorHeadingRoute;
		padding: 15px;
		position: relative;

		h3 {
			font-weight: 600;
		}
		.tvn-slide-buttons {
			position:absolute;
			top: 12px;
			right: 15px;
			width: 12px;
			.carousel-control {
				color: $colorImageMarker;
				width: auto;
				font-size: 1.8rem;
			}
			.carousel-control.left {
				left: 0;
				right: 100%;
			}
			.carousel-control.right {
				right: 0;
				left: 100%;
			}
		}
	}

	.tvn-top-route-post {
		display: flex;
		.tvn-top-article {
			width: 65%;
			display: block;
			position: relative;
			padding: 15px 15px 15px 0;

			.tvn-top-article-bg {
				display: block;
				position: relative;
				width: 100%;
				margin-bottom: 15px;
				.tvn-article-image {
					display: block;
					width: 100%;
				}
			}

			h3 {
				font-size: 1.7rem;
				a {
					color: $colorImageMarker;
					&:focus, &:hover {
						color: $colorRed;
						text-decoration: none;
					}
				}
			}
			.tvn-top-article-info {
				width: 100%;
				display: block;
				margin: 15px 0;
				.tvn-pin {
					color: $colorRed;
				}

				.tvn-like-box, .tvn-comment-box {
					float: right;
				}

				.tvn-like-box {
					margin-right: 10px;
					margin-left: 10px;
				}
			}

			.tvn-top-article-desc {
				a {
					color: $colorRed;
					margin-left: 15px;
				}
			}
		}
		.tvn-comment-list {
			width: 35%;
			.tvn-comments {
				&>li {
					display: block;
					.tvn-comment-box {
						display: flex;
						width: 100%;
						position: relative;
						padding: 8px 0;
						border-bottom: solid 1px $colorGray;

						.tvn-comment-avatar, .tvn-comment-content {
							vertical-align: middle;

						}

						.tvn-comment-avatar {
							min-width: 40px;
							img {
								border-radius: 50%;
								border: solid 1px $colorLightBlue;
								padding: 4px;
							}
						}

						.tvn-comment-content {
							position: relative;
							padding-left: 10px;
							.tvn-comment-author {
								font-size: 1rem;
								font-weight: bold;
								color: $colorImageMarker;
								display: block;
							}
							.tvn-comment-time {
								display: block;
								font-size: .8rem;
								color: $colorHeaderLink;
							}
							.tvn-comment-desc {
								display: block;
								font-size: .8rem;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}

					&:last-child {
						.tvn-comment-box {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}

/*******	TVN TAB	********/
.tvn-tab {
	&.nav-tabs {
		border-bottom: none;
		border-bottom: solid 1px $colorHeadingRoute;
		display: block;
		&>li {
			float: none;
			display: inline-block;
			width: 49.5%;
			text-align: center;
			
			&>a {
				background: transparent;
				border: none;
				border-radius: 0;
				font-size: 1.1rem;
				color: $colorImageMarker;
				padding: 20px 0;
			}

			&.active {
				a {
					&:hover, &:focus {
						border: none;	
						border-bottom: solid 2px $colorRed;
					}

					color: $colorRed;
					font-weight: 600;
					font-size: 1.2rem;
					border-bottom: solid 2px $colorRed;
				}
			}
		}
	}
}

/******* FAVORITE ROUTE **********/
.tvn-favorite-block {
	.tvn-favorite-heading {
		h2 {
			text-align: center;
		}
	}

	.tvn-favorite-tabs {
		text-align: center;
		.tvn-regions {
			&>li {
				display: inline-block;
				a {
					color: $colorImageMarker;
					border: solid 1px $colorHeadingRoute;
					background-color: $colorGray;
					&:hover, &:focus {
						color: $colorWhite;
						background-color: $colorRed;
						border-color: #bd0505;
					}
				}
				&.active {
					a {
						color: $colorWhite;
						background-color: $colorRed;
						border-color: #bd0505;
					}
				}
			}
		}
	}
	.tvn-favorite-content {
		.tvn-favorite-list {
			margin: 15px -15px;
			&>li {
				display: inline-block;
				width: 33%;
				margin-bottom: 25px;
				float: left;
				padding:0 15px;

				.tvn-favorite-box {
					width: 100%;
					position: relative;
					border: solid 1px $colorGray;
					-webkit-box-shadow: 1px 1px 1px 0px rgba(221,221,221,1);
					-moz-box-shadow: 1px 1px 1px 0px rgba(221,221,221,1);
					box-shadow: 1px 1px 1px 0px rgba(221,221,221,1);
					.tvn-favorite-image {
						display: block;
					}
					.tvn-favorite-info {
						.tvn-favorite-title {
							padding: 15px 15px 0 15px;
							a {
								font-size: 1.2rem;
								font-weight: 600;
								color: $colorImageMarker;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								&:focus, &:hover {
									color: $colorRed;
									text-decoration: none;
								}
							}
						}
						.tvn-favorite-location {
							display: block;
							padding: 10px 15px 10px 15px;
							.tvn-location-name {
								display: inline-block;
								color: $colorRed;
								width: 80%;
								overflow: hidden;
								white-space: nowrap;
							}

							.tvn-location-link {
								display: inline-block;
								float: right;
								color: $colorImageMarker;
								&:focus, &:hover {
									text-decoration: none;
									color: $colorRed;
								}
							}
						}
						.tvn-favorite-footer {
							border-top: solid 1px $colorGray;
							padding: 15px;
							display: block;
							.tvn-comment, .tvn-gallery, .tvn-media, .tvn-view {
								display: inline-block;
								vertical-align: middle;
							}

							.tvn-comment, .tvn-gallery, .tvn-media {
								margin-top: 7px;
								margin-right: 15px;
								color: $colorImageMarker;
								&:hover, &:focus {
									color: $colorRed;
									text-decoration: none;
								}
							}

							.tvn-view {
								background-color: $colorRed;
								color: $colorWhite;
								padding: 5px 10px;
								float: right;

								&:hover, &:focus {
									background-color: $colorFocusRed;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
/********** ROUTE PLANNING ***********/
.tvn-route-planning-block {
	.tvn-route-planning-heading {
		h2, h4 {
			text-align: center;
		}
	}

	.tvn-route-planning-box {
		* {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
	}
}

.tvn-destination-title {
	position: relative;
	height: 100%;
	width: 100%;
	color: $colorWhite;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-radius: 2px;
	.content {
		opacity: 1;
		transition: .5s all ease;
		-webkit-transition: .5s all ease;
		-o-transition: .5s all ease;
		-moz-transition: .5s all ease;
		width: 100%;
		height: 100%;
		&.loaded {
			background-color: rgba(0,0,0,.25);

			.v-c-p {
				display: flex;
				-webkit-box-align: center;
				align-items: center;
			}

			.keel-grid {
				flex-flow: row wrap;
				align-content: flex-start;
				-webkit-align-content: flex-start;
				-moz-align-content: flex-start;
				-o-align-content: flex-start;
				justify-content: flex-start;
				letter-spacing: -0.5px;
				text-rendering: optimizespeed;
				&>div {
					padding: 0 .500px;
				}
			}

			.tvn-title-content-gird {
				height: 100%;
				.highlight-content {
					padding: .500px;
					z-index: 3;
					color: $colorWhite;
					text-align: center;
					width: 100%;

					.city-name {
						font-size: 28px;
						line-height: 32px;
					}

					.tvn-link-section {
						max-height: 0;
						opacity: 0;
						overflow: hidden;
						transition: all .5s ease;
						-webkit-transition: all .5s ease;
						-moz-transition: all .5s ease;
						-o-transition: all .5s ease;

						.tvn-separator {
							border: solid 1px rgba(255,255,255,.8);
							width: 80px;
							margin: 35px auto 30px;
						}
					}
				}
			}
		}
	}

	&.highlight, &:hover {
		.content {
			&.loaded {
				background-color: rgba(0,0,0,.55);
				.tvn-title-content-gird {
					.highlight-content {
						.tvn-link-section {
							opacity: 1;
							max-height: 300px;
						}
					}
				}
			}
		}
	}
}

/********* TRIP GALLERIES ************/
.tvn-trip-galleries {
	.tvn-gallery-heading {
		text-align: center;
		h2 {
			text-align: center;
		}
	}

	.gallery-item {
		position: relative;
		img {
			display: block;
			max-width: 100%;
		}
		.gallery-item-heading {
			font-size: 1.8rem;
			a {
				color: $colorImageMarker;
			}
		}
	}
}
/*************** DESTINATION **************/
.tvn-destination-block {
	margin-left: -15px;
	margin-right: -15px;

	.tvn-buttons {
		margin-top: 50px;
	}
}
.tvn-destination-heading {
	text-align: center;
}

.tvn-top-destination-box {
	margin:0 7.5px;
	border: solid 1px #e1e1e5;
	header {
		padding: 0 15px;
		.tvn-destination-title {
			h4 {
				position: relative;
				padding: 4px 0;
				font-weight: 600;
				a {
					display: block;
					text-decoration: none;
					color: $colorImageMarker;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					word-wrap: break-word;
				}
			}
		}
		.tvn-destination-location {
			display: block;
			position: relative;
			width: 100%;
			color: $colorRed;
		}
	}
	section {
		padding: 0 15px;
		.tvn-destination-desc {
			text-align: justify;
			display: block;
			margin: 10px 0;
			overflow: hidden;
            word-wrap: break-word;
            height: 80px;
			white-space: normal;
			text-overflow: ellipsis;
		}
		.tvn-destination-socials {
			border-top: solid 1px $colorLightGray;
			margin-left: -15px;
			margin-right: -15px;
			padding: 15px;
			font-size: 13px;
			.tvn-comment, .tvn-gallery, .tvn-media, .tvn-download, .tvn-view {
				display: inline-block;
				vertical-align: middle;
			}

			.tvn-comment, .tvn-gallery, .tvn-media, .tvn-download {
				margin-top: 7px;
				margin-right: 15px;
				color: $colorImageMarker;
				float: left;
				&:hover, &:focus {
					color: $colorRed;
					text-decoration: none;
				}
			}

			.tvn-view {
				background-color: $colorRed;
				color: $colorWhite;
				padding: 5px 10px;
				float: right;

				&:hover, &:focus {
					background-color: $colorFocusRed;
					text-decoration: none;
				}
			}
		}
	}
}

/************** COLUMN ***************/
.tvn-grid {
	display: flex;
	@include flexFlow(row, wrap);
	@include alignContent(flex-start);
	@include textRendering(optimizespeed);
	letter-spacing: -0.28571428571429em;

	.col, &>[class*="col-"] {
		letter-spacing: normal;
		word-spacing: normal;
		@include textRendering('auto');
		flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		-moz-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		display: inline-block;
		width: auto;
	}

	.col {
		width: 100%;
		>* {
			position: relative;
		}
	}
	&>[class*="col-"] {
		position: relative;
	}
}

.tvn-destinationGrid {
	.tvn-tileGrid {
		margin: 0 -0.3571429em -0.7142857em;
		.tvn-grid {
			margin: 0 -0.3571429em -0.7142857em;
			&>div {
				margin-bottom: .7142857em;
				padding: 0 .3571429em;
			}
		}
		&>div {
			margin-bottom: .7142857em;
			padding: 0 .3571429em;
		}
	}
	.hiddenTile {
		display: none;
	}
}

.tvn-destinationTile {
	height: 100%;
	
	.tvn-tileContentGrid {
		height: 100%;
	}
	.highlightContent {
		padding: .3571429em;
		z-index: 3;
		color: $colorWhite;
		text-align: center;
		width: 100%;

		.tvn-linkSection {
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			transition: all .5s ease;
			-webkit-transition: all .5s ease;
			-moz-transition: all .5s ease;
			-o-transition: all .5s ease;
			-ms-transition: all .5s ease;
		}
	}

	.separator {
		border: solid 1px rgba(255,255,255,.8);
		width: 80px;
		margin: 36px auto 31px;
	}

	.seoLinks {
		position: relative;
		a {
			color: $colorWhite;
			display: inline-block;
			margin: 5px 15px;
			font-size: 18px;	
			&:focus, &:hover {
				i {
					text-decoration: none;
				}
			}
		}
	}
}

.tvn-commonDestinationTile {
	position: relative;
	height:100%;
	width: 100%;
	color: $colorWhite;
	@include borderRadius('2px');
	overflow: hidden;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;

	img {
		display: none !important;
	}

	.content.loaded {
		background-color: rgba(0,0,0,.25);
	}

	&.highlight, &:hover {
		cursor: pointer;
		.content.loaded {
			background-color: rgba(0,0,0,.51);
		}
		.highlightContent {
			.tvn-linkSection {
				opacity: 1;
				max-height: 300px;
			}
		}
	}

	.content {
		opacity: 1;
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		@include borderRadius(2px);
		width: 100%;
		height: 100%;
	}

	.cityName {
		font-size: 28px;
		line-height: 32px;
	}
}


.v-c-p {
	display: flex;
	@include boxAlign(center);
	align-items: center;
	&>* {
		vertical-align: middle;
	}
	&:after {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.tvn-linkOverlay {
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	background: rgba(0,0,0,.6);
	padding: 10px 4px 39px;
}
/********* FOOTER ***********/
footer {
	&.tvn-footer {
		background-color: $bgFooter;
		clear: both;
		padding: 0;
		font-size: 12px;
		text-align: center;

		.tvn-top-block {
			background-color: $colorSubMenuFocus;
			padding: 40px 0;
		}

		.tvn-menu-block {
			padding: 42px 0 11px 0;
			.tvn-footer-menu {
				justify-content: center;
				text-align: center;
				-webkit-box-pack: center;
				-moz-box-pack: center;
				-ms-flex-pack: center;
			}
		}
		.tvn-socials-block {
			padding: 11px 0 42px 0;
			.tvn-footer-menu {
				justify-content: center;
				text-align: center;
				-webkit-box-pack: center;
				-moz-box-pack: center;
				-ms-flex-pack: center;
				a {
					font-size: 18px;
				}
			}
		}
		.footer-separator {
			hr {
				display: block;
				height: 0;
				border: 0;
				border-top: solid 1px $colorBorderFooter;
				margin: 0;
				padding: 0;
			}
		}
		.tvn-footer-desc {
			padding: 42px 0;
			p {
				color: $colorFooterMenuLink;
			}
		}

		.tvn-footer-list {
			text-align: left;
			h5 {
				color: $colorWhite;
				padding-bottom: 5px;
				font-weight: 600;
			}
			.nav {
				&>li {
					&>a {
						padding: 5px 0;
						color: $colorFooterMenuLink;
						&:hover, &:focus {
							color: $colorWhite;
							background: transparent;
						}
					}
				}
			}
		}
		.tvn-footer-menu {
			display: flex;
			a {
				color: $colorFooterMenuLink;
				margin: 0 20px 0 0;
				font-size: 13px;
				&:hover, &:focus {
					color: $colorWhite;
				}
			}
		}
	}
}
/************ SIGN IN, SIGN UP ************/
.tvn-login-reg-form {
	.thirdPartyConnectButton {
		color: $colorWhite;
		text-decoration: none;
		display: block;
		border-radius: 2px;
	}
	.frmReg {
		padding: 10px 80px 0 80px;
	}
	.social-plugin {
		padding: 15px 80px 20px 80px;
		.fbConnectButton, .googleConnectButton {
			text-align: center;
			line-height: 42px;
			vertical-align: middle;
			color: $colorWhite;
			font-size: 14px;
			font-weight: 500;
			background-position: 12px center;
			height: 42px;
			border-radius: 2px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
			-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
			&:focus, &:hover {
				opacity: .8;
			}
		}

		.fbConnectButton {
			margin-bottom: 14px;
			background-image: url(../images/facebook-icon.png);
			background-repeat: no-repeat;
			background-color: $bgFacebook;
		}

		.googleConnectButton {
			background-image: url(../images/google-plus-icon.png);
			background-repeat: no-repeat;
			background-color: $bgGooglePlus;
		}
	}

	.sep-or {
		text-align: center;
		border-top: solid 1px $colorSep;
		margin: 0 80px;
		.or-sep-inner {
			margin-top: -9px;
			text-align: center;
			.or-sep-text {
				display: inline-block;
				color: $colorImageMarker;
				background-color: $colorWhite;
				padding: 0 5px;
			}
		}
	}
}

/******* IMAGE DESTINATION **********/
.tvn-image-slide {
	height: 325px;
	position: relative;
	padding: 0 5px;
	.tvn-image-card {
		display: block;
		background-color: $bgImageCard;
		position: relative;
		transition: transform .4s;
	}

	.tvn-image-card_background {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-top: 125%;
		transition: opacity .8s;
		width: 100%;
		&.is-visible {
			opacity: 1;
		}
	}

	.tvn-image-card_content {
		background: linear-gradient(0deg, rgba(0,0,0,.5) 0, transparent);
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		color: $colorWhite;
		font-size: 1.5rem;
		text-align: center;

		.image-card_marker {
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			color: $colorImageMarker;
			display: inline-block;
			position: relative;
			text-align: center;
			z-index: 1;
			font-size: 1.5rem;
			height: 2.6rem;
			line-height: 2.6rem;
			width: 2.6rem;
			margin-bottom: 1.8rem;
			&:after {
				background-color: $colorWhite;
				box-shadow: .2rem .2rem .2rem rgba(0,0,0,.18);
				content: '';
				display: block;
				height: 100%;
				position: relative;
				transform: rotate(45deg);
				width: 100%;
				z-index: -1;
				margin-top: -2.6rem;
			}
		}

		.image-card_title, .image-card_subtitle {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.image-card_subtitle {
			font-style: italic;
			line-height: 1.5;
			white-space: nowrap;
			width: 100%;
		}

		.image-card_title {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			font-weight: 600;
			text-transform: uppercase;
			margin-top: 0;
		}
	}
}
/********* TOP SIGHT ************/
.tvn-top-sight-block {
	display: block;
	position: relative;
	margin-bottom: 30px;
	clear: both;
	
	.tvn-sight-box {
		display: inline-block;
		width: 33.3333333%;
		float: left;
		.sight-inner {
			display: flex;
			position: relative;
			align-items: center;
			-ms-flex-align: center;
			padding-top: .8rem;
			padding-bottom: .8rem;
			position: relative;
			
			&:hover, &:focus {
				text-decoration: none;
			}
			&>img {
				display: block;
				width: 96px;
			}

			.sight-text {
				margin-left: 3rem;
				width: calc(100% - 6rem - 3rem - 2rem);
				.sight-title, .sight-location {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.sight-title {
					font-size: 16px;
					font-weight: 600;
					line-height: 1.7;
					transition: color .4s ease;
					color: $colorImageMarker;
					margin: 0;
					&:hover, &:focus {
						color: $colorRed;
					}
				}
				.sight-location {
					color: hsla(215,5%,56%,.5);
					font-size: .95rem;
					font-weight: 600;
					letter-spacing: .02rem;
					line-height: 1.3;
					text-transform: uppercase;
				}
			}

			.sight-marker {
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				color: $colorImageMarker;
				display: inline-block;
				text-align: center;
				z-index: 1;
				font-size: 1.2rem;
				height: 2.1rem;
				line-height: 2.1rem;
				width: 2.1rem;
				position: absolute;
				left: 6rem;
				top: 50%;
				transform: translateY(-50%);
				&:before, &:after {
					box-sizing: inherit;
				}
				&:before {
					font-size: 1.2rem;
					color: inherit;
					position: relative;
				}
				&:after {
					border-radius: .4rem;
					margin-top: -2.1rem;
					background-color: $colorWhite;
					box-shadow: .2rem .2rem .2rem rgba(0,0,0,.18);
					content: "";
					display: block;
					height: 100%;
					position: relative;
					transform: rotate(45deg);
					width: 100%;
					z-index: -1;
				}
			}
		}
	}
}
.sight-more {
	font-size: 1.05rem;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	display: table;
	margin-left: auto;
	margin-right: auto;
	color: $colorRed;

	&:hover, &:focus {
		text-decoration: none;
		color: $colorRed;
		opacity: .8;
	}
}
/********** DESTINATION *************/
.tvn-destination {
	display: block;
	.tvn-destination_image, .tvn-destination_info {
		display: inline-block;
		vertical-align: top;
	}

	.tvn-destination_info {
		float: left;
		padding-right: 4rem;
		width: calc(98% - 18.9rem);

		.destination_info_link {
			display: block;
			line-height: 1.42857;
			margin-top: -.8rem;
			color: $colorImageMarker;
			font-weight: 600;

			&:hover, &:focus {
				color: $colorRed;
				text-decoration: none;
			}

			h3 {
				font-size: 1.8rem;
			}
		}
		.destination_info_location {
			color: $colorImageMarker;
			margin-bottom: .8rem;
			i {
				color: $colorRed;
			}
			.viewmap {
				display: inline-block;
				margin-left: 10px;
				color: $colorRed;
				&:before {
					content: '(';
				}
				&:after {
					content: ')';
				}
			}
		}
		.destination_info_desc {
			display: flex;
			margin-bottom: .8rem;
			.tvn-author, .tvn-time {
				width: 50%;
				color: $colorSubMenu;
			}
			.tvn-author {
				a {
					color: $colorRed;
					font-weight: 600;
				}
			}
			.tvn-time {
				span {
					color: $colorRed;
				}
			}
		}
		.destination_info_teaser {
			text-align: justify;
			margin-bottom: .8rem;
		}
		.tvn-destination-socials {
			font-size: 1rem;
			.tvn-comment, .tvn-gallery, .tvn-media, .tvn-download, .tvn-view {
				display: inline-block;
				vertical-align: middle;
			}

			.tvn-comment, .tvn-gallery, .tvn-media, .tvn-download {
				margin-top: 7px;
				margin-right: 15px;
				color: $colorImageMarker;
				float: left;
				&:hover, &:focus {
					color: $colorRed;
					text-decoration: none;
				}
			}

			.tvn-view {
				color: $colorRed;
				float: right;

				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
	}

	.tvn-destination_image {
		float: right;
		height: 13.5rem;
		width: 18.9rem;

		.destination_image_bg {
			background-position: 50%;
			background-size: cover;
			height: 100%;
			width: 100%;
		}
	}
}
/************ SITEMAP **************/
.tvn-sitemap {
	position: relative;
	
	.breadcrumb {
		padding: 15px 0;
		background-color: transparent;
		li {
			font-size: 13px;
			&>a {
				color: $colorImageMarker;
				&:focus, &:hover {
					text-decoration: none;
					color: $colorRed;
				}
			}
			&+li {
				&:before {
					content: '\f105';
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
				}
			}
			&.active {
				color: $colorRed;
			}
		}
	}	
}
/******************* PAGE DETAIL ******************/
.tvn-page-detail {
	.tvn-heading-link {
		text-transform: uppercase;
		line-height: 1;
		font-weight: 600;
		font-size: .9rem;
		text-align: center;
		margin-bottom: 0;
		a {
			color: $colorRed;
		}
	}

	.sight-heading {
		font-size: 4rem;
		line-height: 1.1;
		letter-spacing: -.1rem;
		font-weight: 600;
		text-align: center;
	}

	
}
.tvn-page {
	.tvn-row {
		margin-top: 50px;
	}
	.sightbox {
		width: 100%;
		height: 100vh;
		overflow-y: scroll;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			opacity: 0;
		}

		.sight_content {
			margin-top: 20px;
			display: block;
			text-align: justify;
			strong {
				font-weight: 600;
			}
		}

		.sight_galleries {
			display: block;
			margin-top: 25px;
			z-index: 10;
			h4 {
				text-transform: uppercase;
			}
			.tvn-image-slide {
				height: 100px;
			}
			.owl-controls {
				.owl-buttons {
					.owl-prev, .owl-next {
						bottom: -22px;
					}
					.owl-prev {
						left: -5px;
					}
					.owl-next {
						right: -5px;
					}
				}
			}
		}
	}

	.tvn-aside {
		.sight-section {
			font-size: .9rem;
			padding: 20px 0;
			position: relative;
			border-top: solid 1px $colorSightBorder;

			header {
				h4 {
					line-height: 1;
					font-weight: 600;
					color: $colorImageMarker;
					text-transform: uppercase;
					font-size: 1.1rem;
				}
			}

			.sight-section_content {
				display: block;
				margin-top: 14px;

				.tvn-location-address {
					display: block;
					a {
						color: $colorRed;
						font-size: .8rem;
					}
				}

				.tvn-location-staticmap {
					margin-top: 20px;
					display: block;
					opacity: 1;
					transition: opacity .4s;
				}
			}
		}
	}
}
/********** SLIDES ***********/
.tvn-slides {
	position: relative;
	display: block;

	.tvn-slide-inner {
		position: relative;
		width: 100%;
		height: 100%;
		display: block;

		.tvn-image-show {
			position: relative;
			img {
				display: block;
				max-width: 100%;
			}

			.tvn-previous-button, .tvn-next-button {
				position: absolute;
				top: 45%;
				width: 40px;
				height: 40px;
				line-height: 1;
				text-align: center;
				background-color: rgba(0,0,0,.5);
				color: $colorWhite;
				font-size: 18px;
				padding: 4px;
				
				&:focus, &:hover {
					text-decoration: none;
					background-color: rgba(0,0,0,.8);
				}
			}
			.tvn-previous-button {
				left: 0;
				&:before {
					content: '\f104';
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 2.5rem;
				}
			}
			.tvn-next-button {
				right: 0;
				&:before {
					content: '\f105';
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					font-size: 2.5rem;
				}
			}
		}
	}
}

/********		SUB NAV ********/
.sub-nav {
	background-color: $colorWhite;
	font-size: 0;
	margin: 0;
	padding: 0;
	position: relative;
	transform: translateZ(0);
	transition: opacity .4s,visibility .4s;
	height: 5.1rem;

	&.is-fixed {
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 20;
	}

	.sub-nav_wrap {
		&:after {
			border-bottom: .1rem solid $colorSightBorder;
		}
	}

	.sub-nav_list {
		animation: fly-in .8s;
		height: 7rem;
		margin: 0;
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0;
		text-align: center;
		transition: opacity .4s;
		white-space: nowrap;
		width: 100%;

		.sub-nav_item {
			display: inline-block;
			line-height: 5rem;
			margin: 0;
			padding: 0;
		}

		.sub-nav_link {
			color: $colorImageMarker;
			display: block;
			font-size: 1rem;
			font-weight: 400;
			padding: .2rem 1.5rem 0;
			text-transform: uppercase;
			transition: color .3s ease-in;

			&:focus, &:hover, &:active {
				background-color: transparent;
				color: $colorRed;
			}
		}
	}
}

/***************		USER PROFILE		********************/
.user-profile {
	position: relative;
	text-align: center;
	padding: 20px 0 0 0;

	.user-profile_avatar {
		.user-profile_avatar_toggle {
			height: 135px;
			width: 135px;
			overflow: hidden;
			border-radius: 50%;
			padding: 5px;
			margin: 0 auto;
			background-color: $colorWhite;	
			display: block;
			position: relative;

			&:before, &:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 2;
			}

			&:after {
				color: $colorImageMarker;
				content: attr(title);
				font-weight: bold;
				text-align: center;
				top: 50%;
				width: 100%;
			}
		}

		.user-profile_img {
			width: 135px;
			height: 135px;
			border-radius: 50%;
		}
	}

	.user-profile_username {
		margin: 10px 0;
		margin-left: -14px;
		color: $colorImageMarker;
		font-weight: 700;

		&:before {
			content: "\f007";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			font-size: 18px;
			display: inline-block;
			position: relative;
			height: 1em;
			width: 1em;
			margin-right: 0.1rem;
		}
	}

	.user-profile_stats {
		margin: 0 auto;

		.user-profile_stat-title {
			font-weight: 600;
			text-transform: uppercase;
			color: $colorUserProfileStatTitle;

			&:first-child {
				padding-bottom: 0;
				padding-top: 0;
				margin-top: 0;
				border-top: none;
			}
		}
		.user-profile_stat_detail {
			color: $colorImageMarker;
		}

		.copy--body {
			font-weight: 600;
		}
	}
}

.profile-table {
	font-size: 1rem;
	.form-group {
		padding: 20px;
		border-bottom: solid 1px $colorSightBorder;

		&:last-child {
			border-bottom: none;
		}
	}
}

/******** MAP *********/
.map-static {
	position: relative;

	.map-static_bg {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 0;
		left: 0;
		padding: 39.6rem 0;
		position: relative;
		top: 0;
		width: 100%;
	}
}

/*********** SURVIVAL GUIDE **********/
.tvn-survival-guide {
	position: relative;

	.survival-guide_list {
		display: block;
		position: relative;

		> li {
			&.survival-guide_item {
				display: inline-block;
				.survival-guide_link {
					color: $colorImageMarker;
					text-align: center;

					.survival-guide_image {
						display: block;
						margin-left: auto;
						margin-right: auto;
						transition: transform .4s;
					}

					&:focus, &:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
}
/*************** TRIP DIARY *****************/
.tvn-diaries {
	position: relative;
	display: block;

	.tvn-buttons {
		margin-top: 50px;
	}
}

.tvn-diary_list {
	position: relative;
	display: block;
}

.tvn-diary {
	display: block;
	position: relative;
	margin-bottom: 25px;

	.tvn-diary_image {
		display: block;
		max-width: 100%;
		margin-bottom: 10px;
	}

	.tvn-diary_link {
		display: block;
		color: $colorImageMarker;

		&:focus, &:hover {
			text-decoration: none;
			color: $colorRed;
		}

		h3 {
			font-size: 1.6rem;
		}
	}

	.tvn-diary_info {
		margin-bottom: 10px;
		font-size: .95em;

		.tvn-diary_info_author, .tvn-diary_info_type, .tvn-diary_info_date {
			color: $colorSubMenu;
		}

		.tvn-diary_info_author {
			.tvn-author {
				color: $colorRed;
				font-weight: 600;

				&:focus, &:hover {
					text-decoration: none;
				}
			}
		}

		.tvn-diary_info_type {
			.tvn-category {
				color: $colorRed;
				font-weight: 600;
			}
		}

		.tvn-diary_info_date {
			.tvn-date {
				color: $colorRed;
			}
		}
	}

	.tvn-diary-socials {
		border-top: solid 1px $colorLightGray;
		font-size: 13px;
		.tvn-comment, .tvn-gallery, .tvn-media, .tvn-download, .tvn-view {
			display: inline-block;
			vertical-align: middle;
		}

		.tvn-comment, .tvn-gallery, .tvn-media, .tvn-download {
			margin-top: 7px;
			margin-right: 15px;
			color: $colorImageMarker;
			float: left;
			&:hover, &:focus {
				color: $colorRed;
				text-decoration: none;
			}
		}

		.tvn-view {
			background-color: $colorRed;
			color: $colorWhite;
			padding: 5px 10px;
			float: right;

			&:hover, &:focus {
				background-color: $colorFocusRed;
				text-decoration: none;
			}
		}
	}
}

/************ ROUTES *************/
.tvn-routes {
	position: relative;

	.tvn-buttons {
		margin-top: 50px;
	}
}

.tvn-route_item {
	position: relative;
	padding-bottom: 15px;
	border-bottom: solid 1px $colorSightBorder;
	margin-bottom: 15px;

	.tvn-route_item_post {
		.tvn-route_item_title {
			color: $colorImageMarker;
			h3 {
				font-size: 1.6rem;
			}
		}

		.tvn-route_item_map {
			color: $colorRed;
			margin-bottom: 10px;

			a {
				&.tvn-map {
					color: $colorImageMarker;
					margin-left: 20px;
					&:focus, &:hover {
						text-decoration: none;
						color: $colorRed;
					}

					&:before {
						content: '(';
					}
					&:after {
						content: ')';
					}
				}
			}
		}

		.tvn-route_item_desc {
			text-align: justify;
			position: relative;
			display: block;
			margin-bottom: 10px;
		}

		.tvn-route_item_social {
			border-top: solid 1px $colorLightGray;
			font-size: 13px;
			.tvn-comment, .tvn-member, .tvn-download, .tvn-view {
				display: inline-block;
				vertical-align: middle;
			}

			.tvn-comment, .tvn-member, .tvn-download {
				margin-top: 7px;
				margin-right: 15px;
				color: $colorImageMarker;
				float: left;
				&:hover, &:focus {
					color: $colorRed;
					text-decoration: none;
				}
			}

			.tvn-view {
				color: $colorRed;
				padding: 5px 10px;
				float: right;

				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
	}

	.tvn-route_item_info {
		position: relative;

		.tvn-route_info_list {
			> li {
				display: flex;
				vertical-align: middle;
				padding: 8px 0;
				border-bottom: solid 1px $colorSightBorder;

				&:last-child {
					border-bottom: none;
				}

				> a, > span {
					padding: 0 15px;
				}

				> a {
					&:hover, &:focus {
						background-color: transparent;
					}
				}

				&.tvn-route_buttons {
					text-align: center;
					button {
						margin: 10px auto;
					}
				}
			}
		}

		.tvn-route_item_creator, .tvn-location-pin, .tvn-calendar-pin, .tvn-member-group {
			color: $colorRed;
		}

		.tvn-route_item_creator {
			font-weight: 600;
		}
	}
}

/************* SIGHT COMMENT ***************/
.sight-comment_item {
	position: relative;
}
.sight-comment_item_top {
	position: relative;
	display: block;
	margin-bottom: 10px;

	.sight-comment_avatar, .sight-comment_info {
		display: inline-block;
		vertical-align: middle;
	}

	.sight-comment_avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 15px;
	}

	.sight-comment_info {
		a {
			cursor: pointer;

			&.sight-comment_info_fullname {
				color: $colorImageMarker;
				font-weight: 600;

				&:hover, &:focus {
					color: $colorRed;
					text-decoration: none;
				}
			}
		}

		.sight-comment_info_time {
			font-size: .9rem;
			color: $colorDate;
		}	
	}

}

/************** ROUTES **********************/
.tvn-routes {
	.route-box {
		padding: 15px;
		margin-bottom: 15px;
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 2px;
	}

	.route-item {
		position: relative;

		.route-item_title {
			color: $colorImageMarker;
			h3 {
				font-size: 1.4rem;
				font-weight: 600;
			}
		}

		.route-item_location {
			padding: 15px 0;
			border-bottom: solid 1px $colorSightBorder;

			i {
				color: $colorRed;
			}

			.tvn-map {
				color: $colorRed;
				margin-left: 15px;

				&:before {
					content: '(';
				}
				&:after {
					content: ')';
				}
			}
		}

		.route-item_group {
			display: flex;
			padding: 15px 0;
			border-bottom: solid 1px $colorSightBorder;

			label {
				font-weight: 500;
			}

			.route-item_group_lbl {
				margin-right: 15px;
			}

			.route-item_group_dt {
				i.fa {
					color: $colorRed;
				}
				a {
					&.tvn-creator-pin {
						color: $colorRed;
					}
				}
			}
		}

		.route-item_desc {
			text-overflow: hidden;
			word-break: word-wrap;
			text-align: justify;
		}

		.route-member {
			display: inline-block;
			margin-right: 10px;
			color: $colorRed;
		}

		.route-item_footer {
			display: block;
			margin-top: 15px;
			padding: 15px 0;
			border-top: solid 1px $colorSightBorder;

			.tvn-comment, .tvn-download, .tvn-view {
				display: inline-block;
				vertical-align: middle;
			}

			.tvn-comment, .tvn-download {
				margin-top: 7px;
				margin-right: 15px;
				color: $colorImageMarker;
				float: left;
				&:hover, &:focus {
					color: $colorRed;
					text-decoration: none;
				}
			}

			.tvn-view {
				color: $colorRed;
				padding: 5px 10px;
				float: right;

				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
	}
}

.tvn-route-sidebar {
	position: relative;

	.tvn-route-sidebar_box {
		display: block;
		position: relative;
		margin-bottom: 15px;

		h4 {
			border-bottom: solid 1px $colorWhite;
			padding-bottom: 10px;
			margin-bottom: 10px;
			font-weight: 600;
			font-size: 1.3rem;
		}
	}
}

.nav-donate {
	&>li {
		&>a {
			padding: 10px;
			color: $colorImageMarker;

			&:hover, &:focus {
				//background-color: transparent;
			}

			h5 {
				font-weight: 600;
				font-size: 1.1rem;
				letter-spacing: -.05rem;

				&:hover, &:focus {
					color: $colorRed;
				}
			}

			.tvn-donate_author, .tvn-donate_date, .tvn-donate_location {
				display: block;
				padding: 0 0 10px 0;
				span {
					display: block;
					width: 100%;

					&.label-danger {
						display: inline-block;
						width: auto;
						padding: 5px 10px;
						padding-left: 10px !important;
						margin-left: 20px;
					}

					&:last-child {
						margin-top: 5px;
						padding-left: 20px;
						i {
							color: $colorRed;
						}
					}
				}
			}

			.tvn-donate_author {
				span {
					&:last-child {
						font-weight: 600;
						color: $colorRed;
					}
				}
			}
		}
	}
}
/********* PAGINATION ************/
.pagination {
	>li {
		>a, >span {
			color: $colorImageMarker;

			&:hover, &:focus {
				background-color: transparent;
				color: $colorRed;
			}
		}
	}
}

/********* ROUTE DETAIL *************/
.route-detail {
	position: relative;
}

.route-detail_steps {
	position: relative;
	display: block;
	min-height: 200px;

	.route-detail_steps_heading {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		text-align: center;
		line-height: 70px;
		border: solid 2px $colorGray;
		span {
			color: $colorImageMarker;
		}
	}

	.route-detail_steps_line {
		position: absolute;
		top: 69px;
		left: 33px;
		height: inherit;
		width: 3px;
		background-color: $colorGray;
	}
}

.btn-join {
	margin-bottom: 20px;
}

.tvn-team {
	> li {
		display: block;
		padding: 10px 0;
		border-bottom: solid 1px $colorHeadingRoute;

		&:last-child {
			border-bottom: none;
		}

		.tvn-team_box {
			display: flex;
			width: 100%;
		}

		.tvn-team_avatar, .tvn-team_link {
			vertical-align: middle;
		}

		.tvn-team_avatar {
			width: 50px;
			height: 50px;
		}

		.tvn-team_link {
			width: 100%;
			padding-left: 15px;
			color: $colorImageMarker;
			&:hover, &:focus {
				text-decoration: none;
			}

			.username, .member {
				display: block;
			}

			.username {
				font-weight: 600;
				color: $colorRed;
			}
		}
	}
}